In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as its
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# добавляем новую колонку, где прибыль = сборы - бюджет:
data['profit'] = data.revenue - data.budget

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [11]:
# тут пишем ваш код для решения данного вопроса:
answer_1 = data[data.budget == data.budget.max()]
answer_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [12]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)'}

In [14]:
# применяем условие проверки по максимуму:
answer_2 = data[data.runtime == data.runtime.max()]
answer_2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# применяем условие проверки по минимуму:
answer_3 = data[data.runtime == data.runtime.min()]

# записываем в словарь ответ на третий вопрос:
answers['3'] = '768. Winnie the Pooh (tt1449283)' 
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)'}

# 4. Какова средняя длительность фильмов?

In [12]:
# применяем условие проверки по среднему значению:
answer_4 = data.runtime.mean()

# записываем в словарь ответ на вопрос:
answers['4'] = '109.658'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658'}

# 5. Каково медианное значение длительности фильмов?

In [13]:
# применяем условие проверки по медиане:
answer_5 = data.runtime.median()

# записываем в словарь ответ на вопрос:
answers['5'] = '107'
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658',
 '5': '107'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# код поместил в раздел Предобработка

# выполняем проверку по максимальному значению:
answer_6 = data[data.profit == data.profit.max()]
#answer_6

# записываем в словарь ответ на вопрос:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [15]:
# выполняем проверку по минимальному значению:
answer_7 = data[data.profit == data.profit.min()]
#answer_7

# записываем в словарь ответ на вопрос:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
# объём сборов выше бюджета означает прибыль. Поэтому выполняем поиск по столбцу 'profit':
temp_data = data[data.profit > 0] # ввели временный датафрейм для удобства отображения
temp_data.count()
# количество строк везде одинаково, это означает, что нигде нет задвоения данных

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
actor_list              1478
profit                  1478
dtype: int64

In [18]:
# однако, можно принудительно ограничить подсчёт только строк столбца 'profit':
answer_8 = temp_data.profit.count()
answer_8

1478

In [19]:
# записываем в словарь ответ на вопрос:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
# принимаем, что самый кассовый = самый прибыльный

data_2008 = data[data.release_year == 2008] # определяем список фильмов за 2008 год

# для полученного списка фильмов применяем проверку на максимальный размер прибыли:  
answer_9 = data_2008[data_2008.profit == data_2008.profit.max()]

In [20]:
# записываем в словарь ответ на вопрос:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
# Будем считать, что самый убыточный фильм = фильм с самой меньшей прибыльностью

# отфильтруем датафрейм по году выхода фильма:
data_12_14 = data.query('2012 <= release_year <= 2014') 

# получившийся двтафрейм проверим на условие минимальной прибыли:
answer_10 = data_12_14[data_12_14.profit == data_12_14.profit.min()]

In [21]:
# записываем в словарь ответ на вопрос:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [22]:
# выведем на экран значения нашего словаря для заполнения формы ответов:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres = data.genres.str.split('|') # оставляем датафрейм с жанрами

# подсчитываем количество раз, когда упоминался жанр:
genre = Counter()
for item in genres:
    genre += Counter(item)
genre.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

In [23]:
# записываем в словарь ответ на вопрос:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
movies_with_profit = data[data.profit > 0] # сортируем датафрейм по прибыльности фильмов(прибыль больше нуля)

genres = movies_with_profit.genres.str.split('|') # выделяем жанры

# подсчитываем количество раз, когда упоминался жанр:
genre = Counter()
for item in genres:
    genre += Counter(item)
genre.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [24]:
# записываем в словарь ответ на вопрос:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
director_revenue = pd.pivot_table(data, values = 'revenue', 
                     index = 'director', 
                     aggfunc = sum).sort_values('revenue', ascending = False).head(1)
director_revenue.index

Index(['Peter Jackson'], dtype='object', name='director')

In [25]:
# записываем в словарь ответ на вопрос:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
# Не понял как и что, поэтому воспользуюсь решением от Валерия Климова:

def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep = '|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
sum_gen

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Rian Johnson          1
Mel Gibson            1
Wolfgang Petersen     1
Betty Thomas          1
Spike Lee             1
Length: 364, dtype: int64

In [26]:
# записываем в словарь ответ на вопрос:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
# выделим каждого актёра по отдельности: 
data_actor = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()

# переименуем колонки:
data_actor.columns = ['row_index','row2','actor']

# заполняем столбцы:
data_actor['revenue_actor'] = data_actor.row_index.apply(lambda x : data.iloc[x]['revenue'])
data_actor['year'] = data_actor.row_index.apply(lambda x : data.iloc[x]['release_year'])

# формируем результирующую форму с фильтрацией по году:
data_actor.query('year == 2012').groupby('actor')['revenue_actor'].sum().sort_values(ascending = False)

actor
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue_actor, Length: 466, dtype: int64

In [27]:
# записываем в словарь ответ на вопрос:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
# принимаем, что высокобюджетным считается тот фильм, бюджет которого выше среднего по датасету

# исходя из этого, отфильтруем наш датафрейм по условию бюджета выше среднего:
high_budget = data[data.budget > data.budget.mean()]

# формируем из полученного датафрейма датафрейм с актёрами:
data_actor = pd.DataFrame(high_budget.cast.str.split('|').tolist()).stack().reset_index()

# переименуем столбцы:
data_actor.columns = ['column_1','column_2','actor']

# считаем количество вхождений:
actor_table = data_actor.actor.value_counts()
actor_table

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Tom Cruise               15
                         ..
Jena Malone               1
Mel Brooks                1
Sarah Michelle Gellar     1
Tsai Chin                 1
Rachel Hurd-Wood          1
Name: actor, Length: 1505, dtype: int64

In [28]:
# записываем в словарь ответ на вопрос:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
# по отработанной схеме формируем датафрейм с актёрами:
data_actor = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 

# переименуем столбцы:
data_actor.columns = ['raw_index','index','actor'] 

# добавим новую колонку с жанрами:
data_actor['genre'] = data_actor.raw_index.apply(lambda x: data.iloc[x]['genres']) 

# теперь можем отфильтровать наш датафрейм по конкретному актёру:
data_nicolas = data_actor[data_actor.actor == 'Nicolas Cage'] 

# формируем из полученного ранее (отфильтрованного по актёру) датафрейма новый
# датафрейм с жанрами:
data_genre = pd.DataFrame(data_nicolas.genre.str.split('|').tolist()).stack().reset_index() 

# переименуем столбцы:
data_genre.columns = ['column_1','column_2','genre']

# осталось только подситать количество фильмов по жанрам:
data_genre.genre.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genre, dtype: int64

In [29]:
# записываем в словарь ответ на вопрос:
answers['17'] = 'Action'

In [30]:
# выведем на экран значения нашего словаря для заполнения формы ответов:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
# формируем датафрейм с компаниями:
data_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()

# переименуем колонки:
data_companies.columns = ['raw_index', 'index', 'company']

# создаем две новые колонки, заполняем их названиями фильмов и полученной прибылью
data_companies['movie'] = data_companies.raw_index.apply(lambda x: data.iloc[x]['original_title'])
data_companies['profit'] = data_companies.raw_index.apply(lambda x: data.iloc[x]['profit'])

# фильтруем датафрейм по нужной компании (сортировка прибыли по нисходящей):
data_paramount = data_companies.query('company in ["Paramount Pictures"]').sort_values('profit',ascending = True)
data_paramount.head(1)

      raw_index  index             company                 movie    profit
2998        925      0  Paramount Pictures  K-19: The Widowmaker -64831034

In [31]:
# записываем в словарь ответ на вопрос:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
# применим groupby для нахождени ответа. Группируем по году и суммируем кассовые сборы: 

year_revenue = data.groupby('release_year')['revenue'].sum()
year_revenue

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

In [32]:
# записываем в словарь ответ на вопрос:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
# формируем датафрейм с компаниями:
data_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()

# переименуем колонки:
data_companies.columns = ['raw_index', 'index', 'company']

# создаем две новые колонки, заполняем их годом выхода фильмов и полученной прибылью:
data_companies['profit'] = data_companies.raw_index.apply(lambda x: data.iloc[x]['profit'])
data_companies['year'] = data_companies.raw_index.apply(lambda x: data.iloc[x]['release_year'])

# фильтруем полученный датафрейм по искомой компании:
data_wb = data_companies[data_companies.company.str.contains('Warner Bros.')]

# группируем полученный датафрейм по годам и суммруем прибыль:
year_profit = pd.DataFrame(data_wb.groupby('year')['profit'].sum())

# фильтруем lдатафрейм по максимальному значению прибыли:
year_profit[year_profit.profit == year_profit.profit.max()]

          profit
year
2014  2292949646

In [33]:
# записываем в словарь ответ на вопрос:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
# преобразовываем дату в нужный формат (Екатерина Попова - спасибо):
data['release_date'] = pd.to_datetime(data['release_date'])

# выделяем наименование месяца:
data['month'] = data.release_date.dt.strftime('%B')

# подсчитываем число вхождений:
data['month'].value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: month, dtype: int64

In [34]:
# записываем в словарь ответ на вопрос:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
# преобразовываем дату в нужный формат:
data['release_date'] = pd.to_datetime(data.release_date)

# создаём колонку с месяцем выхода фильма:
data['month'] = data.release_date.dt.strftime('%B')

# подсчитываем количество фильмов, попадающих под составное условие по дате выхода:
data[(data.month == 'June') | ((data.month == 'July') | (data.month == 'August'))].original_title.count()

450

In [35]:
# записываем в словарь ответ на вопрос:
answers['22'] = '450'

In [36]:
# выведем на экран значения нашего словаря для заполнения формы ответов:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450'}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
# преобразовываем дату в нужный формат:
data['release_date'] = pd.to_datetime(data.release_date)

# создаём колонку с месяцем выхода фильма:
data['month'] = data.release_date.dt.strftime('%B')

# фильтруем наш датафрейм по месяцам выхода фильмов (оставляем те, где выполняется условие):
data = data.query('month in ["December","January","February"]')

# подсчитываем количество вхождений по колонке 'director':
data['director'].value_counts()

Peter Jackson                                                                                                                                                                7
Steven Soderbergh                                                                                                                                                            6
Clint Eastwood                                                                                                                                                               6
Adam Shankman                                                                                                                                                                4
Nancy Meyers                                                                                                                                                                 4
                                                                                                                                                                            ..
Taylor Hackford                                                                                                                                                              1
Jon Turteltaub                                                                                                                                                               1
Benny Chan                                                                                                                                                                   1
Christopher McQuarrie                                                                                                                                                        1
Steven Brill|Elizabeth Banks|Steve Carr|Rusty Cundieff|James Duffy|Griffin Dunne|Peter Farrelly|Patrik Forsberg|James Gunn|Brett Ratner|Will Graham|Jonathan van Tulleken    1
Name: director, Length: 332, dtype: int64

In [37]:
# записываем в словарь ответ на вопрос:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [4]:
# выделяем названия компаний:
data_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()

# переименуем колонки:
data_companies.columns = ['common_index','index','company']

# создаём колонки с названием фильма и количеством символов в этом названии:
data_companies['title'] = data_companies.common_index.apply(lambda x: data.iloc[x]['original_title'])
data_companies['length'] = data_companies.common_index.apply(lambda x: len(data.iloc[x]['original_title']))

# сводная таблица для вывода информации о длинне названий фильмов и имен компаний
table = pd.pivot_table(data_companies,
                       values = 'length',
                       index = 'company',
                       aggfunc = 'mean',
                       fill_value = 0).sort_values('length',ascending = False)

table

                            length
company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
...                            ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0

[1771 rows x 1 columns]

In [38]:
# записываем в словарь ответ на вопрос:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [10]:
# по всей видимости, имеются в виду значения колонки overview.
# выделяем названия компаний, именуем колонки, создаем колонки movie и numbe_of_words:
data_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()

data_companies.columns = ['common_index','index', 'company']

data_companies['movie'] = data_companies.common_index.apply(lambda x: data.iloc[x]['overview'])

data_companies['number_of_words'] = data_companies.movie.apply(lambda x: len(x.split(' '))) # здесь вводим число слов

# фильтруем по максимальному значению количества слов:
data_companies[data_companies.number_of_words == data_companies.number_of_words.max()]

# формируем сводную таблицу:
table = pd.pivot_table(data_companies,
                       values = 'number_of_words', 
                       index = 'company',
                       aggfunc = 'mean',
                       fill_value = 0).sort_values('number_of_words', ascending = False)
table

                                       number_of_words
company
Midnight Picture Show                            175.0
Heineken Branded Entertainment                   161.0
Room 9 Entertainment                             161.0
98 MPH Productions                               159.0
Brookwell-McNamara Entertainment                 156.0
...                                                ...
Henceforth                                        13.0
Our Stories Films                                 13.0
London Boulevard                                  13.0
Motion Picture Corporation of America             11.0
Empire Pictures                                   11.0

[1771 rows x 1 columns]

In [39]:
# записываем в словарь ответ на вопрос:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [3]:
# берём две колонки из датафрейсма и сортируем по одной из них(рейтингу):
data = data[['original_title','vote_average']].sort_values('vote_average', ascending = False)

# переименуем колонки:
data.columns = ['title','rating']

# фильтруем по условию: рейтинг больше, чем у 99%
data[data['rating'] > data.quantile(0.99, numeric_only=True)['rating']]

                                              title  rating
599                                 The Dark Knight     8.1
118                                    Interstellar     8.0
125                              The Imitation Game     8.0
9                                        Inside Out     8.0
34                                             Room     8.0
1183                        The Wolf of Wall Street     7.9
128                                       Gone Girl     7.9
1191                               12 Years a Slave     7.9
119                         Guardians of the Galaxy     7.9
1081  The Lord of the Rings: The Return of the King     7.9
1800                                        Memento     7.9
370                                       Inception     7.9
872                                     The Pianist     7.9
138                        The Grand Budapest Hotel     7.9

In [40]:
# записываем в словарь ответ на вопрос:
answers['26'] = 'The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [6]:
# создаем в датафрейме дополнительно колонку с именами актеров:
data['actor_list'] = pd.DataFrame(data.cast.str.split('|'))

# группируем актёров попарно:
data_couple = pd.DataFrame(data['actor_list'].apply(lambda x: Counter(its.combinations(x, 2))))

# проверяем по условию наиболее частого повторения:
display(data_couple.actor_list.sum().most_common())

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5),
 (('Jennifer Lawrence', 'Josh Hutcherson'), 4),
 (('Jennifer Lawrence', 'Liam Hemsworth'), 4),
 (('Jennifer Lawrence', 'Woody Harrelson'), 4),
 (('Josh Hutcherson', 'Liam Hemsworth'), 4),
 (('Josh Hutcherson', 'Woody Harrelson'), 4),
 (('Liam Hemsworth', 'Woody Harrelson'), 4),
 (('Tobin Bell', 'Costas Mandylor'), 4),
 (('Tobin Bell', 'Betsy Russell'), 4),
 (('Costas Mandylor', 'Betsy Russell'), 4),
 (('Vin Diesel', 'Jordana Brewster'), 4),
 (('Paul Walker', 'Jordana Brewster'), 4),
 (('Mike Myers', 'Eddie Murphy'), 4),
 (('Mike Myers', 'Cameron Diaz'), 4),
 (('Eddie Murphy', 'Cameron Diaz'), 4),
 (('Kristen Stewart', 'Peter Facinelli'), 4),
 (('Robert Pattinson', 'Peter Facinelli'), 4),
 (('Taylor Lautner', 'Peter Facinelli'), 4),
 (('George Clooney', 'Brad Pitt'), 4),
 (('Hugh Jackman', 'Halle Berry'), 4),
 (('Christian Bale', 'Michael Caine'), 4),
 (('Vin Diesel', 'Paul Walker'), 3),
 (('Vin Diesel', 'Michelle Rodriguez'), 3),
 (('Vin Diesel', 'Dwayne Johnson'), 3),
 (('Paul Walker', 'Michelle Rodriguez'), 3),
 (('Paul Walker', 'Dwayne Johnson'), 3),
 (('Robert Downey Jr.', 'Mark Ruffalo'), 3),
 (('Robert Downey Jr.', 'Scarlett Johansson'), 3),
 (('Chris Evans', 'Scarlett Johansson'), 3),
 (('Liam Neeson', 'Maggie Grace'), 3),
 (('Liam Neeson', 'Famke Janssen'), 3),
 (('Jennifer Lawrence', 'Elizabeth Banks'), 3),
 (('Josh Hutcherson', 'Elizabeth Banks'), 3),
 (('Liam Hemsworth', 'Elizabeth Banks'), 3),
 (('Woody Harrelson', 'Elizabeth Banks'), 3),
 (('Tom Cruise', 'Ving Rhames'), 3),
 (('Mark Wahlberg', 'Giovanni Ribisi'), 3),
 (('Johnny Depp', 'Paul Bettany'), 3),
 (('Adam Sandler', 'Steve Buscemi'), 3),
 (('Martin Freeman', 'Richard Armitage'), 3),
 (('Ian McKellen', 'Richard Armitage'), 3),
 (('Ben Stiller', 'Robin Williams'), 3),
 (('Patrick Stewart', 'Ian McKellen'), 3),
 (('Sylvester Stallone', 'Jason Statham'), 3),
 (('Sylvester Stallone', 'Arnold Schwarzenegger'), 3),
 (('Russell Crowe', 'Jennifer Connelly'), 3),
 (('Bradley Cooper', 'Ed Helms'), 3),
 (('Bradley Cooper', 'Zach Galifianakis'), 3),
 (('Bradley Cooper', 'Justin Bartha'), 3),
 (('Ed Helms', 'Zach Galifianakis'), 3),
 (('Ed Helms', 'Justin Bartha'), 3),
 (('Zach Galifianakis', 'Justin Bartha'), 3),
 (('Kristen Stewart', 'Ashley Greene'), 3),
 (('Robert Pattinson', 'Ashley Greene'), 3),
 (('Taylor Lautner', 'Ashley Greene'), 3),
 (('Bradley Cooper', 'Ken Jeong'), 3),
 (('David Cross', 'Justin Long'), 3),
 (('Jason Lee', 'Justin Long'), 3),
 (('Paul Rudd', 'Jason Segel'), 3),
 (('Shia LaBeouf', 'Josh Duhamel'), 3),
 (('Robert Downey Jr.', 'Gwyneth Paltrow'), 3),
 (('Daniel Radcliffe', 'Ralph Fiennes'), 3),
 (('Emma Watson', 'Ralph Fiennes'), 3),
 (('Rupert Grint', 'Ralph Fiennes'), 3),
 (('Skandar Keynes', 'Georgie Henley'), 3),
 (('Mike Myers', 'Antonio Banderas'), 3),
 (('Mike Myers', 'Julie Andrews'), 3),
 (('Eddie Murphy', 'Antonio Banderas'), 3),
 (('Eddie Murphy', 'Julie Andrews'), 3),
 (('Cameron Diaz', 'Antonio Banderas'), 3),
 (('Cameron Diaz', 'Julie Andrews'), 3),
 (('Steve Carell', 'Paul Rudd'), 3),
 (('Elijah Wood', 'Ian McKellen'), 3),
 (('Elijah Wood', 'Viggo Mortensen'), 3),
 (('Elijah Wood', 'Liv Tyler'), 3),
 (('Elijah Wood', 'Orlando Bloom'), 3),
 (('Ian McKellen', 'Viggo Mortensen'), 3),
 (('Ian McKellen', 'Liv Tyler'), 3),
 (('Ian McKellen', 'Orlando Bloom'), 3),
 (('Viggo Mortensen', 'Liv Tyler'), 3),
 (('Viggo Mortensen', 'Orlando Bloom'), 3),
 (('Liv Tyler', 'Orlando Bloom'), 3),
 (('George Clooney', 'Matt Damon'), 3),
 (('Brad Pitt', 'Julia Roberts'), 3),
 (('Jason Biggs', 'Thomas Ian Nicholas'), 3),
 (('Jason Biggs', 'Seann William Scott'), 3),
 (('Alexa PenaVega', 'Daryl Sabara'), 3),
 (('Antonio Banderas', 'Carla Gugino'), 3),
 (('Christian Bale', 'Gary Oldman'), 3),
 (('Michael Caine', 'Gary Oldman'), 3),
 (('Daniel Craig', 'Judi Dench'), 3),
 (('Jack Black', 'Angelina Jolie'), 3),
 (('Ben Stiller', 'David Schwimmer'), 3),
 (('Ben Stiller', 'Chris Rock'), 3),
 (('Ron Perlman', 'John Hurt'), 3),
 (('Hayden Christensen', 'Samuel L. Jackson'), 3),
 (('Jason Statham', 'FranÃ§ois BerlÃ©and'), 3),
 (('John Cho', 'Kal Penn'), 3),
 (('Johnny Depp', 'Geoffrey Rush'), 3),
 (('Johnny Depp', 'Bill Nighy'), 3),
 (('Ray Romano', 'Denis Leary'), 3),
 (('John Leguizamo', 'Denis Leary'), 3),
 (('Tobey Maguire', 'Kirsten Dunst'), 3),
 (('Tobey Maguire', 'James Franco'), 3),
 (('Kirsten Dunst', 'James Franco'), 3),
 (('Tim Allen', 'Spencer Breslin'), 3),
 (('Denzel Washington', 'Kimberly Elise'), 3),
 (('Ice Cube', 'Mike Epps'), 3),
 (('Johnny Depp', 'Orlando Bloom'), 3),
 (('Johnny Depp', 'Keira Knightley'), 3),
 (('Orlando Bloom', 'Keira Knightley'), 3),
 (('Patrick Stewart', 'Famke Janssen'), 3),
 (('Hugh Jackman', 'Famke Janssen'), 3),
 (('Ian McKellen', 'Famke Janssen'), 3),
 (('Halle Berry', 'Famke Janssen'), 3),
 (('Owen Wilson', 'Vince Vaughn'), 3),
 (('Bruce Willis', 'Kevin Pollak'), 3),
 (('Shailene Woodley', 'Theo James'), 2),
 (('Shailene Woodley', 'Kate Winslet'), 2),
 (('Shailene Woodley', 'Ansel Elgort'), 2),
 (('Shailene Woodley', 'Miles Teller'), 2),
 (('Theo James', 'Kate Winslet'), 2),
 (('Theo James', 'Miles Teller'), 2),
 (('Kate Winslet', 'Miles Teller'), 2),
 (('Leonardo DiCaprio', 'Tom Hardy'), 2),
 (('Daniel Craig', 'Ralph Fiennes'), 2),
 (('Robert Downey Jr.', 'Chris Hemsworth'), 2),
 (('Robert Downey Jr.', 'Chris Evans'), 2),
 (('Chris Hemsworth', 'Scarlett Johansson'), 2),
 (('Mark Ruffalo', 'Scarlett Johansson'), 2),
 (('Maggie Grace', 'Famke Janssen'), 2),
 (('Dwayne Johnson', 'Carla Gugino'), 2),
 (('Christian Bale', 'Melissa Leo'), 2),
 (('Steve Carell', 'Ryan Gosling'), 2),
 (('Tom Cruise', 'Jeremy Renner'), 2),
 (('Tom Cruise', 'Simon Pegg'), 2),
 (('Jeremy Renner', 'Simon Pegg'), 2),
 (('Mark Wahlberg', 'Seth MacFarlane'), 2),
 (('Seth MacFarlane', 'Giovanni Ribisi'), 2),
 (("Dylan O'Brien", 'Kaya Scodelario'), 2),
 (('Anna Kendrick', 'Rebel Wilson'), 2),
 (('Anna Kendrick', 'Brittany Snow'), 2),
 (('Anna Kendrick', 'Skylar Astin'), 2),
 (('Liam Neeson', 'Boyd Holbrook'), 2),
 (('Edgar RamÃ\xadrez', 'Delroy Lindo'), 2),
 (('Bradley Cooper', 'Sienna Miller'), 2),
 (('Miles Teller', 'Michael B. Jordan'), 2),
 (('Rose Byrne', 'Bobby Cannavale'), 2),
 (('Hugh Jackman', 'Amanda Seyfried'), 2),
 (('Joseph Gordon-Levitt', 'Seth Rogen'), 2),
 (('Seth Rogen', 'Lizzy Caplan'), 2),
 (('Adam Sandler', 'Andy Samberg'), 2),
 (('Adam Sandler', 'Selena Gomez'), 2),
 (('Will Ferrell', 'Mark Wahlberg'), 2),
 (('Kevin James', 'Raini Rodriguez'), 2),
 (('Tina Fey', 'Amy Poehler'), 2),
 (('Tom Kenny', 'Bill Fagerbakke'), 2),
 (('Tom Kenny', 'Rodger Bumpass'), 2),
 (('Tom Kenny', 'Clancy Brown'), 2),
 (('Tom Kenny', 'Carolyn Lawrence'), 2),
 (('Bill Fagerbakke', 'Carolyn Lawrence'), 2),
 (('Rodger Bumpass', 'Carolyn Lawrence'), 2),
 (('Clancy Brown', 'Carolyn Lawrence'), 2),
 (('Chris Evans', 'Sebastian Stan'), 2),
 (('Scarlett Johansson', 'Samuel L. Jackson'), 2),
 (('Martin Freeman', 'Ian McKellen'), 2),
 (('Martin Freeman', 'Ken Stott'), 2),
 (('Martin Freeman', 'Graham McTavish'), 2),
 (('Ian McKellen', 'Ken Stott'), 2),
 (('Ian McKellen', 'Graham McTavish'), 2),
 (('Richard Armitage', 'Ken Stott'), 2),
 (('Richard Armitage', 'Graham McTavish'), 2),
 (('Ken Stott', 'Graham McTavish'), 2),
 (('Hugh Jackman', 'Patrick Stewart'), 2),
 (('James McAvoy', 'Patrick Stewart'), 2),
 (('James McAvoy', 'Michael Fassbender'), 2),
 (('Megan Fox', 'Will Arnett'), 2),
 (('Mark Wahlberg', 'Stanley Tucci'), 2),
 (('Jason Bateman', 'Jason Sudeikis'), 2),
 (('Jason Bateman', 'Charlie Day'), 2),
 (('Jason Bateman', 'Jennifer Aniston'), 2),
 (('Andrew Garfield', 'Emma Stone'), 2),
 (('James Franco', 'Seth Rogen'), 2),
 (('James Franco', 'Lizzy Caplan'), 2),
 (('Jay Baruchel', 'Gerard Butler'), 2),
 (('Jay Baruchel', 'Jonah Hill'), 2),
 (('Gerard Butler', 'Jonah Hill'), 2),
 (('Jason Statham', 'Arnold Schwarzenegger'), 2),
 (('Meryl Streep', 'Emily Blunt'), 2),
 (('Lena Headey', 'David Wenham'), 2),
 (('Jonah Hill', 'Dave Franco'), 2),
 (('Channing Tatum', 'Dave Franco'), 2),
 (('Ben Whishaw', 'Michael Gambon'), 2),
 (('Russell Crowe', 'Logan Lerman'), 2),
 (('Zac Efron', 'Dave Franco'), 2),
 (('Ryan Guzman', 'Stephen Boss'), 2),
 (('Joaquin Phoenix', 'Reese Witherspoon'), 2),
 (('Jessica Alba', 'Josh Brolin'), 2),
 (('Jessica Alba', 'Rosario Dawson'), 2),
 (('Jesse Eisenberg', 'Anne Hathaway'), 2),
 (('Jesse Eisenberg', 'Leslie Mann'), 2),
 (('Anne Hathaway', 'Leslie Mann'), 2),
 (('George Clooney', 'Bill Murray'), 2),
 (('George Clooney', 'John Goodman'), 2),
 (('Kit Harington', 'Carrie-Anne Moss'), 2),
 (('Channing Tatum', 'Sienna Miller'), 2),
 (('Zac Efron', 'Imogen Poots'), 2),
 (('Michael Ealy', 'Regina Hall'), 2),
 (('Morgan Freeman', 'Ashley Judd'), 2),
 (('Morgan Freeman', 'Nathan Gamble'), 2),
 (('Morgan Freeman', 'Harry Connick Jr.'), 2),
 (('Ashley Judd', 'Nathan Gamble'), 2),
 (('Ashley Judd', 'Harry Connick Jr.'), 2),
 (('Michael Sheen', 'Shane Brolly'), 2),
 (('Chris Pine', 'Zachary Quinto'), 2),
 (('Robert Downey Jr.', 'Jude Law'), 2),
 (('John Cusack', 'Amanda Peet'), 2),
 (('Jennifer Connelly', 'Christopher Plummer'), 2),
 (('Jesse Eisenberg', 'Woody Harrelson'), 2),
 (('Kristen Stewart', 'Billy Burke'), 2),
 (('Robert Pattinson', 'Billy Burke'), 2),
 (('Bill Hader', 'Anna Faris'), 2),
 (('Bill Hader', 'James Caan'), 2),
 (('Anna Faris', 'James Caan'), 2),
 (('Susan Sarandon', 'Stanley Tucci'), 2),
 (('Jason Statham', 'Amy Smart'), 2),
 (('Jason Statham', 'Dwight Yoakam'), 2),
 (('Jason Statham', 'Efren Ramirez'), 2),
 (('Amy Smart', 'Dwight Yoakam'), 2),
 (('Amy Smart', 'Efren Ramirez'), 2),
 (('Vince Vaughn', 'Jon Favreau'), 2),
 (('Jason Bateman', 'Jon Favreau'), 2),
 (('Charlize Theron', 'Guy Pearce'), 2),
 (('Seth Rogen', 'Paul Rudd'), 2),
 (('Reese Witherspoon', 'Paul Rudd'), 2),
 (('Meryl Streep', 'Stanley Tucci'), 2),
 (('Johnny Depp', 'Giovanni Ribisi'), 2),
 (('Billy Crudup', 'Marion Cotillard'), 2),
 (('Matt Damon', 'Scott Bakula'), 2),
 (('Tobin Bell', 'Mark Rolston'), 2),
 (('Costas Mandylor', 'Mark Rolston'), 2),
 (('Betsy Russell', 'Mark Rolston'), 2),
 (('Shia LaBeouf', 'Megan Fox'), 2),
 (('Shia LaBeouf', 'Tyrese Gibson'), 2),
 (('Megan Fox', 'Tyrese Gibson'), 2),
 (('Josh Duhamel', 'Tyrese Gibson'), 2),
 (('Jeff Bridges', 'Kevin Spacey'), 2),
 (('Dwayne Johnson', 'Seann William Scott'), 2),
 (('Nicolas Cage', 'Eva Mendes'), 2),
 (('Seth Rogen', 'Leslie Mann'), 2),
 (('Naomi Watts', 'Armin Mueller-Stahl'), 2),
 (('Clive Owen', 'Paul Giamatti'), 2),
 (('Julia Roberts', 'Paul Giamatti'), 2),
 (('Jason Bateman', 'Kristen Wiig'), 2),
 (('Robert Downey Jr.', 'Jamie Foxx'), 2),
 (('Michael Caine', 'Emily Mortimer'), 2),
 (('Danny Huston', 'Lynn Collins'), 2),
 (('Robert Downey Jr.', 'Don Cheadle'), 2),
 (('Gwyneth Paltrow', 'Don Cheadle'), 2),
 (('Steve Carell', 'Russell Brand'), 2),
 (('Steve Carell', 'Will Arnett'), 2),
 (('Jason Segel', 'Russell Brand'), 2),
 (('Sylvester Stallone', 'Dolph Lundgren'), 2),
 (('Jason Statham', 'Dolph Lundgren'), 2),
 (('Russell Crowe', 'Mark Strong'), 2),
 (('Sam Worthington', 'Liam Neeson'), 2),
 (('Sam Worthington', 'Ralph Fiennes'), 2),
 (('Liam Neeson', 'Ralph Fiennes'), 2),
 (('Robert De Niro', 'Owen Wilson'), 2),
 (('Robert De Niro', 'Dustin Hoffman'), 2),
 (('Robert De Niro', 'Barbra Streisand'), 2),
 (('Ben Stiller', 'Dustin Hoffman'), 2),
 (('Ben Stiller', 'Barbra Streisand'), 2),
 (('Dustin Hoffman', 'Barbra Streisand'), 2),
 (('Logan Lerman', 'Brandon T. Jackson'), 2),
 (('Logan Lerman', 'Alexandra Daddario'), 2),
 (('Channing Tatum', 'Richard Jenkins'), 2),
 (('Danny Trejo', 'Michelle Rodriguez'), 2),
 (('Adam Sandler', 'Salma Hayek'), 2),
 (('Ashley Greene', 'Peter Facinelli'), 2),
 (('Brad Pitt', 'Jonah Hill'), 2),
 (('Mark Wahlberg', 'Dwayne Johnson'), 2),
 (('Helena Bonham Carter', 'Timothy Spall'), 2),
 (('Jake Gyllenhaal', 'Anne Hathaway'), 2),
 (('Tom Cruise', 'Cameron Diaz'), 2),
 (('Matt Damon', 'Greg Kinnear'), 2),
 (('Emily Blunt', 'Jason Segel'), 2),
 (('Jack Black', 'Amanda Peet'), 2),
 (('Christian Bale', 'Amy Adams'), 2),
 (('Katherine Heigl', 'Ashton Kutcher'), 2),
 (('Sarah Jessica Parker', 'Kristin Davis'), 2),
 (('Sarah Jessica Parker', 'Cynthia Nixon'), 2),
 (('Sarah Jessica Parker', 'Kim Cattrall'), 2),
 (('Sarah Jessica Parker', 'Chris Noth'), 2),
 (('Kristin Davis', 'Chris Noth'), 2),
 (('Cynthia Nixon', 'Chris Noth'), 2),
 (('Kim Cattrall', 'Chris Noth'), 2),
 (('Robert De Niro', 'Edward Norton'), 2),
 (('Zachary Gordon', 'Robert Capron'), 2),
 (('Zachary Gordon', 'Steve Zahn'), 2),
 (('Zachary Gordon', 'Rachael Harris'), 2),
 (('Robert Capron', 'Steve Zahn'), 2),
 (('Steve Zahn', 'Rachael Harris'), 2),
 (('Kristen Wiig', 'Maya Rudolph'), 2),
 (('Tyler Perry', 'Janet Jackson'), 2),
 (('Tyler Perry', 'Jill Scott'), 2),
 (('Tyler Perry', 'Malik Yoba'), 2),
 (('Janet Jackson', 'Malik Yoba'), 2),
 (('Jill Scott', 'Malik Yoba'), 2),
 (('Milla Jovovich', 'Ali Larter'), 2),
 (('John Goodman', 'Steve Buscemi'), 2),
 (('Billy Crystal', 'Steve Buscemi'), 2),
 (('RenÃ©e Zellweger', 'Colin Firth'), 2),
 (('RenÃ©e Zellweger', 'Hugh Grant'), 2),
 (('RenÃ©e Zellweger', 'Gemma Jones'), 2),
 (('RenÃ©e Zellweger', 'Jim Broadbent'), 2),
 (('Colin Firth', 'Gemma Jones'), 2),
 (('Colin Firth', 'Jim Broadbent'), 2),
 (('Hugh Grant', 'Gemma Jones'), 2),
 (('Hugh Grant', 'Jim Broadbent'), 2),
 (('George Clooney', 'Andy GarcÃ\xada'), 2),
 (('George Clooney', 'Julia Roberts'), 2),
 (('Brad Pitt', 'Matt Damon'), 2),
 (('Brad Pitt', 'Andy GarcÃ\xada'), 2),
 (('Brendan Fraser', 'John Hannah'), 2),
 (('Angelina Jolie', 'Noah Taylor'), 2),
 (('Russell Crowe', 'Paul Bettany'), 2),
 (('Jason Biggs', 'Chris Klein'), 2),
 (('Jason Biggs', 'Eddie Kaye Thomas'), 2),
 (('Seann William Scott', 'Eddie Kaye Thomas'), 2),
 (('Anne Hathaway', 'Julie Andrews'), 2),
 (('Anne Hathaway', 'Heather Matarazzo'), 2),
 (('Anne Hathaway', 'HÃ©ctor Elizondo'), 2),
 (('Julie Andrews', 'Heather Matarazzo'), 2),
 (('Julie Andrews', 'HÃ©ctor Elizondo'), 2),
 (('Ewan McGregor', 'Jim Broadbent'), 2),
 (('Johnny Depp', 'PenÃ©lope Cruz'), 2),
 (('Jude Law', 'Rachel Weisz'), 2),
 (('Heath Ledger', 'Shannyn Sossamon'), 2),
 (('Marlon Wayans', 'Shawn Wayans'), 2),
 (('Chris Tucker', 'Jackie Chan'), 2),
 (('Seth Green', 'Breckin Meyer'), 2),
 (('Breckin Meyer', 'Amy Smart'), 2),
 (('Brad Pitt', 'James Gandolfini'), 2),
 (('Anthony Hopkins', 'Hope Davis'), 2),
 (('Robert De Niro', 'Charlize Theron'), 2),
 (('DMX', 'Anthony Anderson'), 2),
 (('Mike Epps', 'Anna Maria Horsford'), 2),
 (('Jason Biggs', 'Amanda Detmer'), 2),
 (('Paul Walker', 'Vin Diesel'), 2),
 (('John Travolta', 'Vince Vaughn'), 2),
 (('Freddie Prinze Jr.', 'Matthew Lillard'), 2),
 (('Cary Elwes', 'Joanna Lumley'), 2),
 (('Jack Black', 'Dustin Hoffman'), 2),
 (('Jack Black', 'Jackie Chan'), 2),
 (('Dustin Hoffman', 'Jackie Chan'), 2),
 (('Angelina Jolie', 'Jackie Chan'), 2),
 (('Colin Firth', 'Stellan SkarsgÃ¥rd'), 2),
 (('Ben Stiller', 'Jada Pinkett Smith'), 2),
 (('David Schwimmer', 'Chris Rock'), 2),
 (('Ron Perlman', 'Selma Blair'), 2),
 (('Ron Perlman', 'Jeffrey Tambor'), 2),
 (('Selma Blair', 'Jeffrey Tambor'), 2),
 (('Selma Blair', 'John Hurt'), 2),
 (('William Moseley', 'Anna Popplewell'), 2),
 (('William Moseley', 'Skandar Keynes'), 2),
 (('William Moseley', 'Georgie Henley'), 2),
 (('Anna Popplewell', 'Skandar Keynes'), 2),
 (('Anna Popplewell', 'Georgie Henley'), 2),
 (('Hugh Jackman', 'David Wenham'), 2),
 (('George Clooney', 'Tilda Swinton'), 2),
 (('George Clooney', 'Richard Jenkins'), 2),
 (('Will Ferrell', 'John C. Reilly'), 2),
 (('Will Ferrell', 'Mary Steenburgen'), 2),
 (('Seth Rogen', 'Danny McBride'), 2),
 (('James Franco', 'Danny McBride'), 2),
 (('Mark Wahlberg', 'Mila Kunis'), 2),
 (('Paul Rudd', 'Elizabeth Banks'), 2),
 (('Angelina Jolie', 'John Malkovich'), 2),
 (('John Cho', 'Neil Patrick Harris'), 2),
 (('Kal Penn', 'Neil Patrick Harris'), 2),
 (('Tobin Bell', 'Scott Patterson'), 2),
 (('Scott Patterson', 'Betsy Russell'), 2),
 (('Javier Bardem', 'PenÃ©lope Cruz'), 2),
 (('Steve Carell', 'Seth Rogen'), 2),
 (('Robert De Niro', 'Carla Gugino'), 2),
 (('Adam Sandler', 'John Turturro'), 2),
 (('Sean Penn', 'Josh Brolin'), 2),
 (('Cheryl Hines', 'Jeff Daniels'), 2),
 (('Bruce Willis', 'Robin Wright'), 2),
 (('Chris Hemsworth', 'Natalie Portman'), 2),
 (('Chris Hemsworth', 'Tom Hiddleston'), 2),
 (('Chris Hemsworth', 'Anthony Hopkins'), 2),
 (('Natalie Portman', 'Tom Hiddleston'), 2),
 (('Natalie Portman', 'Anthony Hopkins'), 2),
 (('Tom Hiddleston', 'Anthony Hopkins'), 2),
 (('Ryan Gosling', 'Emma Stone'), 2),
 (('Ryan Gosling', 'Marisa Tomei'), 2),
 (('Bradley Cooper', 'Robert De Niro'), 2),
 (('Ed Helms', 'Ken Jeong'), 2),
 (('Zach Galifianakis', 'Ken Jeong'), 2),
 (('Justin Bartha', 'Ken Jeong'), 2),
 (('Asa Butterfield', 'Ben Kingsley'), 2),
 (('Matthew McConaughey', 'William H. Macy'), 2),
 (('Jim Cummings', 'Bud Luckey'), 2),
 (('Jim Cummings', 'Craig Ferguson'), 2),
 (('Tom Hanks', 'Julia Roberts'), 2),
 (('Antonio Banderas', 'Salma Hayek'), 2),
 (('Kate Winslet', 'Jude Law'), 2),
 (('Robert De Niro', 'Katherine Heigl'), 2),
 (('Robin Williams', 'Johnny A. Sanchez'), 2),
 (('David Arquette', 'Neve Campbell'), 2),
 (('David Arquette', 'Courteney Cox'), 2),
 (('Neve Campbell', 'Courteney Cox'), 2),
 (('Devon Bostick', 'Rachael Harris'), 2),
 (('Devon Bostick', 'Steve Zahn'), 2),
 (('Jason Lee', 'David Cross'), 2),
 (('Neil Patrick Harris', 'Hank Azaria'), 2),
 (('Cate Blanchett', 'Tom Hollander'), 2),
 (('James McAvoy', 'Maggie Smith'), 2),
 (('James McAvoy', 'Julie Walters'), 2),
 (('Philip Seymour Hoffman', 'Marisa Tomei'), 2),
 (('Katie Featherston', 'Sprague Grayden'), 2),
 (('Viggo Mortensen', 'Vincent Cassel'), 2),
 (('Paul Walker', 'Tyrese Gibson'), 2),
 (('Dwayne Johnson', 'Jordana Brewster'), 2),
 (('Ray Romano', 'John Leguizamo'), 2),
 (('Matt Damon', 'Franka Potente'), 2),
 (('Matt Damon', 'Chris Cooper'), 2),
 (('Matt Damon', 'Brian Cox'), 2),
 (('Franka Potente', 'Brian Cox'), 2),
 (('Milla Jovovich', 'Michelle Rodriguez'), 2),
 (('Ewan McGregor', 'Natalie Portman'), 2),
 (('Ewan McGregor', 'Hayden Christensen'), 2),
 (('Ewan McGregor', 'Ian McDiarmid'), 2),
 (('Ewan McGregor', 'Samuel L. Jackson'), 2),
 (('Natalie Portman', 'Hayden Christensen'), 2),
 (('Natalie Portman', 'Ian McDiarmid'), 2),
 (('Natalie Portman', 'Samuel L. Jackson'), 2),
 (('Hayden Christensen', 'Ian McDiarmid'), 2),
 (('Ian McDiarmid', 'Samuel L. Jackson'), 2),
 (('Leonardo DiCaprio', 'Martin Sheen'), 2),
 (('Tom Hanks', 'Amy Adams'), 2),
 (('Adrien Brody', 'Thomas Kretschmann'), 2),
 (('Jennifer Lopez', 'Stanley Tucci'), 2),
 (('Wesley Snipes', 'Kris Kristofferson'), 2),
 (('Johnny Knoxville', 'Bam Margera'), 2),
 (('Johnny Knoxville', 'Steve-O'), 2),
 (('Johnny Knoxville', 'Chris Pontius'), 2),
 (('Bam Margera', 'Steve-O'), 2),
 (('Bam Margera', 'Chris Pontius'), 2),
 (('Steve-O', 'Chris Pontius'), 2),
 (('Meryl Streep', 'Chris Cooper'), 2),
 (('Ice Cube', 'Cedric the Entertainer'), 2),
 (('Ice Cube', 'Sean Patrick Thomas'), 2),
 (('Cedric the Entertainer', 'Sean Patrick Thomas'), 2),
 (('Antonio Banderas', 'Alexa PenaVega'), 2),
 (('Antonio Banderas', 'Daryl Sabara'), 2),
 (('Carla Gugino', 'Alexa PenaVega'), 2),
 (('Carla Gugino', 'Daryl Sabara'), 2),
 (('Ice Cube', 'John Witherspoon'), 2),
 (('Ice Cube', 'Don Curry'), 2),
 (('Mike Epps', 'John Witherspoon'), 2),
 (('Mike Epps', 'Don Curry'), 2),
 (('John Witherspoon', 'Don Curry'), 2),
 (('Bruce Willis', 'Cole Hauser'), 2),
 (('Chris Rock', 'Kerry Washington'), 2),
 (('Jamie Foxx', 'Kerry Washington'), 2),

In [41]:
# записываем в словарь ответ на вопрос:
answers['27'] = 'Daniel Radcliffe and Rupert Grint'

# Submission

In [42]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.658',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': 'Daniel Radcliffe and Rupert Grint'}

In [43]:
# и убедиться что ни чего не пропустил)
len(answers)

27

Всё сделал, но только благодаря Slack. Объективно если себя самого оценивать, то материал требует дальнейшего изучения - явно не всё усвоил.